# DATABASE_URL="postgresql+psycopg://USER:PASSWORD@HOST:PORT/DATABASE"

#Database connection url
DATABASE_URL=postgresql+psycopg://qusayqadir@localhost:5432/f1-bloomberg

#API Endpoints

#Backend API Endpoints
BASE_URL="https://api.jolpi.ca/ergast/f1"


#Chatbot 
ANTHROPIC_API_KEY=

#Langsmith Configuration 
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
ANTHROPIC_MODEL=



MONGODB_URI=
MONGODB_CLUSTER_NAME=
MONGODB_DATABASE_NAME=
MONGODB_BUCKET_NAME=


VOYAGE_API_KEY=
VITE_GOOGLE_MAPS_API_KEY=""

POLYMARKET_BASE_CLOB_API="https://clob.polymarket.com"
POLYMARKET_BASE_GAMMA_API="https://gamma-api.polymarket.com"

AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=